<!DOCTYPE HTML>
<html>
	<head>
        <title>In a Nutshell Books by Bhagya Makhija</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto+Slab&family=Rubik:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="\styles\main.css">
        <link rel="stylesheet" href="\styles\top3.css">
        <link rel="stylesheet" href="\styles\books.css">

        <link rel="stylesheet" href="\styles\readMore.css">

        <link rel="stylesheet" href="\styles\profile.css">
        
    </head>

    <body>
        
    

