<section class="hero">
    <%- include('./navbar.ejs'); %>

    <main>
        <section id ="hero">
            <h1>Welcome</h1>
            <p>A platform offering concise book summaries</p>
            <p>Simplifying complex ideas for quick insights and knowledge enrichment.</p>
            
        </section>
    </main>
</section>